.classname
{
	border-top : 10px;
	border-right : 10px;
	border-bottom : 10px;
	border-left : 10px;
}

.classname2
{
	border-top : 210px;
	border-right : 10px;
	border-bottom : 210px;
	border-left : 10px;
}

.classname3
{
	border-top : 210px;
	border-right : 10px;
	border-bottom : 30px;
	border-left : 10px;
}

.classname4
{
	border : 0px;
	}
.classname5 {margin: 0 0 ;}
